*{
    margin: 0;
    padding: 0;
}

.contact-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    margin: auto;
    margin-top: 200px;
    flex-direction: column;
    box-shadow: 20px 20px 10px grey;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
    align-content: space-between;
    border-radius: 10px;
}
.contact-form-text{
    
}
.contact-me{
    display: flex;
    justify-content: center;
}